@media (max-width: 575.98px) {
  .sidebar-show .main {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

.container-full-height {
  height: calc((100% - 46px - 50px));}

@media (max-width: 767.98px) {
  .main .container-fluid {
    padding: 0 10px; }
  .main .breadcrumb {
    margin-bottom: 10px; }
  .main .card {
    margin-bottom: 10px; }
  .container-full-height {
    height: calc((100% - 66px));}
}

@media (max-width: 575.98px) {
  .main .container-fluid {
    padding: 0 5px; }
  .main .breadcrumb {
    margin-bottom: 5px; }
  .main .card {
    margin-bottom: 5px; }
  .container-full-height {
    height: calc((100% - 56px));}
}

.sidebar .nav-link.active {
  background: unset;
}


// Fill screen

html, body, #root, .app {
  min-height: 100%;
  display: flex;
  flex: 1;
  overflow-x: hidden;
}

.app, app-dashboard, app-root {
  min-height: calc(100% - 0px);
}

.app-body .main {
  overflow: hidden;
}

.modal-dialog-centered::before {
  height: calc(100% - (0.5rem * 2));
}

@media (max-width: 991.98px) {
  .sidebar {
    height: calc(100% - 55px); }
}

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    height: 100%; }
  .sidebar-fixed .app-header + .app-body .sidebar {
    height: calc(100% - 55px); }
  .sidebar-off-canvas .app-header + .app-body .sidebar {
    height: calc(100% - 55px); }
  .aside-menu-fixed .aside-menu .tab-content {
      height: calc(100% - 2.375rem - 55px); }
  .aside-menu-fixed .app-header + .app-body .aside-menu {
    height: calc(100% - 55px); }
  .aside-menu-off-canvas .app-header + .app-body .aside-menu {
    height: calc(100% - 55px); }
}

html body .app.flex-row.align-items-center {
  height: 100%;
}

// Reduce table padding for small screens

@media (max-width: 575.98px) {
  .table th, .table td {
      padding: 0.2rem;
  }
}

@media (max-width: 992px) {
  .table th, .table td {
      padding: 0.4rem;
  }
}

// Stop zooming on inputs

.form-group, .form-control, form-check, label, input {
  font-size: 16px !important;
}

// React Big Calendar

// Remove week event label

.rbc-event-label {
  display: none !important;
}


// Sidebar Navigation

.sidebar .nav-link {
  padding: 1rem 1rem;
}

// User profile

.profile--user-info {
  width: 700px;
  // padding: 15px;
  @include media-breakpoint-down('md') {
    width: calc(100vw - 27px);
  }
  .card {
    margin-bottom: 0;
  }
  .img-avatar {
    object-fit: cover;
  }
}
.img-profile {
  width: 180px;
}
